@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: "Terminus";
    src: url("$lib/assets/fonts/Terminus/TerminusTTF-4.49.3.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Terminus";
    src: url("$lib/assets/fonts/Terminus/TerminusTTF-Bold-4.49.3.ttf");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Terminus";
    src: url("$lib/assets/fonts/Terminus/TerminusTTF-Bold-Italic-4.49.3.ttf");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Terminus";
    src: url("$lib/assets/fonts/Terminus/TerminusTTF-Italic-4.49.3.ttf");
    font-weight: 400;
    font-style: italic;
}

@theme {
    --font-display: "Terminus", monospace;
}

:root {
    --theme-color: oklch(66.6% 0.179 58.318);
    /* --theme-color: oklch(62.3% 0.214 259.815) */
}

body {
    animation: rainbow 5s linear infinite forwards;
}

@layer base {
    p {
        overflow-wrap: anywhere;
    }

    a {
        @apply underline;
    }
}

@layer components {
    input, textarea {
        @apply bg-black text-white border-1 border-(--theme-color) placeholder:text-gray-500 placeholder:italic focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500
    }

    input:disabled, textarea:disabled, select:disabled {
        @apply bg-gray-800 pointer-events-none hover:bg-gray-800 hover:text-white
    }

    select {
        @apply border-4 border-(--theme-color) bg-black hover:cursor-pointer hover:bg-(--theme-color) hover:text-black p-2 transition duration-200
    }

    .h2-txt-size {
        @apply text-xl md:text-3xl lg:text-4xl font-bold;
    }

    .h1-txt-size {
        @apply text-2xl md:text-3xl lg:text-5xl font-bold;
    }

    .h0-txt-size {
        @apply text-3xl md:text-6xl lg:text-7xl font-bold;
    }

    .btn {
        @apply no-underline border-4 fill-white text-white bg-black border-(--theme-color) px-2 py-1 transition duration-200 hover:bg-(--theme-color) hover:text-black hover:fill-black hover:cursor-pointer disabled:pointer-events-none;
    }

    .btn.active {
        @apply bg-(--theme-color) text-black;
    }
}


.no-antialias {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}